body{
   background-color: #c5c6c7;
}
.carousel-inner img {
width: 100%;
height: 430px;
}
.containe{

background-color: white;

}
.row{
    
    padding: 0px;
    margin: 0px;
}
.col-md-4{
  
    background-color: #e3e2df;
    border: solid white 3px ;
    border-radius: 35px 0px;
   padding-bottom: 10px;
}
.border {
    border: solid #2e151b 4px;
    border-radius: 0px 25px;
    margin-top: 20px;
    
  

     
}
.border:hover{
    position: relative;
    top:-30px;
    font-size:20px;
    background-image: linear-gradient(#2f4454, #2e151b,#da7b93,#376e6f,#1c3334);
    color:white
}
.margin-n {
    margin:-20px;
}

