.img{
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Natural-Green-Outdoors-Simple-Background-Image.jpg");
     background-repeat: no-repeat;
    height: 350px;
    width: 100%;
 background-size: cover;
}
.slie,.heading{
    color: black;
    text-shadow: 2px 2px 4px #000000;
}.image{
    height: 300px;
}
.text{
    text-align: justify;
    font-family: "Times New Roman", Times, serif;
    // font-family: sans-serif;
    // font-style: italic
} 