<div class="containetr-fluid   ">
    <div class="bg-white p-4">
<h3 class="text-center">Contact Us</h3>
<button class="btn btn-primary p-2 ml-5 text-white">
<a class="text-white" href="/#home">← Go Back Home</a></button>
</div>
<div class="d-flex justify-around mt-2">
    <div class="row m-4 bg-white p-2 ">
        
    <div class="  p-2 containe">
    <h4 class="text-center p-2 mb-3">Email us your questions, requests or comments.</h4>
    <div class="form-group">
        <label for="">Your Email (required)</label>
        <input class="form-control" type="email"   placeholder="Enter your email">
    </div>
    <div class="form-group">
        <label for=""> Your Name (required)</label>
        <input class="form-control" type="text"  placeholder="Enter your  name">
    </div>
    <div class="form-group">
        <label for=""> Subject</label>
        <input class="form-control" type="text"  placeholder="Enter Subject">
    </div>
    <div class="form-group">
        <label for="">Your Message*</label>
        <input class="form-control" type="text"  placeholder="Enter your Message">
    </div>
    <button class="btn btn-primary form-control ">Submit</button>
    </div>
   
    </div>
<div class="bg-white p-3 mt-4"><h4 class="mt-5">Midwood International & Cultural Center</h4>

<h6 class="mt-5">7701 Wallace lane, Charlotte NC 28212
    Nbcharlotte@uisac.org ,
    Or call on (704) 491-1186</h6>
</div>

</div>

<div class="container-fluid bg-light mt-2 p-1 pb-2">
    <h5 class="mt-3 ml-5">STAY IN TOUCH WITH US</h5>
    <div class="mt-3">
    <a class="pl-5" href="https://www.youtube.com/">
      <img src="https://ak.staticimgfarm.com/images/webtooltab/chiclets/youtube.png"></a>

      <a class="pl-4" href="https://www.facebook.com/">
          <img src="https://ak.staticimgfarm.com/images/webtooltab/chiclets/facebook.png" alt="">
      </a>
      <a class="pl-4" href="https://mail.google.com/">
          <img src="https://ak.staticimgfarm.com/images/webtooltab/chiclets/gmail.png" alt="">
      </a>
    
      <a class="pl-4" href="https://www.instagram.com/">
          <img src="https://ak.staticimgfarm.com/images/webtooltab/chiclets/instagram.png" alt=""></a>
</div>
</div>
<div class="container-fluid bg-dark p-2">
  <div class="container mt-2 text-white"><hr>
  <p class="text-white mt-2" >Copyright 2017 © Universal Institute for successful aging carolinas.</p></div>
</div>
 
  
