body{
    background-color:	#F8F8FF	;
}

.container-fluid{
    padding-top: 50px;
   
    margin-bottom: 25px;
    background-color:	#DCDCDC;
}
 

.fixid{
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
}
.abc{
    background-image: linear-gradient(#182628, #65ccb8,#57ba98,#3b945e,#f2f2f2);
}