<app-header>
    <div class="h-60">
    <div class="d-flex row h-60 justify-content-center align-items-center">
        <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 mb-4 mt-4">
        <mat-card class="example-card">
            <mat-card-title class="text-center pt-1"><h4>Join Anthyakshari</h4></mat-card-title>
            <div class="card-body bdr-top">
               <div class="row">
                    <div class="col-md-12  mb-3">
                        <form class="form-inline" style="float:right">
                            <label for="email" class="mr-2">Language</label> 
                            <select class="form-control" style="height:30px; padding:0px 10px 0px 5px">
                                <option>Select</option>
                                <option>English</option>
                                <option>Telugu</option>
                                <option>Hindi</option>
                            </select>
                         </form>     
                    </div>
                    <div class="col-md-6">
                       <div class="card">
                            <div class="card-header">Current Competitions</div>
                            <div class="card-body" style="height:270px; overflow-y:auto; overflow-x:hidden">
                                 <div class="row">
                                    <div class="col-md-3">
                                        <div style="border:1px solid #ccc; border-radius:50px; padding:1px"><img src="../../assets/img.jpeg" class="img-fluid" style="border-radius:50px"></div>
                                    </div>
                                    <div class="col-md-9">
                                        <div><h4>Surya</h4></div>
                                        <div class="mt-n-15"><h4>001</h4></div>
                                        <div class="mt-n-15"><a href="Connect Live">Join</a></div> 
                                    </div>
                                    <div style="height:1px; background:#eaeaea; width:98%; margin:5px 5px 10px 7px"></div>
                                    <div class="col-md-3">
                                        <div style="border:1px solid #ccc; border-radius:50px; padding:1px"><img src="../../assets/img.jpeg" class="img-fluid" style="border-radius:50px"></div>
                                    </div>
                                    <div class="col-md-9">
                                        <div><h4>Surya Vamsi</h4></div>
                                        <div class="mt-n-15"><h4>018</h4></div>
                                        <div class="mt-n-15"><a href="Connect Live">Join</a></div> 
                                    </div>
                                    <div style="height:1px; background:#eaeaea; width:98%; margin:5px 5px 10px 7px"></div>
                                    <div class="col-md-3">
                                        <div style="border:1px solid #ccc; border-radius:50px; padding:1px"><img src="../../assets/img.jpeg" class="img-fluid" style="border-radius:50px"></div>
                                    </div>
                                    <div class="col-md-9">
                                        <div><h4>Jayaram Kassim</h4></div>
                                        <div class="mt-n-15"><h4>009</h4></div>
                                        <div class="mt-n-15"><a href="Connect Live">Join</a></div> 
                                    </div>
                                     <div style="height:1px; background:#eaeaea; width:98%; margin:5px 5px 10px 7px"></div>
                                    <div class="col-md-3">
                                        <div style="border:1px solid #ccc; border-radius:50px; padding:1px"><img src="../../assets/img.jpeg" class="img-fluid" style="border-radius:50px"></div>
                                    </div>
                                    <div class="col-md-9">
                                        <div><h4>Ramana Surya</h4></div>
                                        <div class="mt-n-15"><h4>004</h4></div>
                                        <div class="mt-n-15"><a href="Connect Live">Join</a></div> 
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>

                    <div class="col-md-6">
                         <div class="card">
                            <div class="card-header">Live Performances</div>
                            <div class="card-body" style="height:270px; overflow-y:auto; overflow-x:hidden">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div style="border:1px solid #ccc; border-radius:50px; padding:1px"><img src="../../assets/img.jpeg" class="img-fluid" style="border-radius:50px"></div>
                                    </div>
                                    <div class="col-md-9">
                                        <div><h4>Yati</h4></div>
                                        <div class="mt-n-15"><h4>001</h4></div>
                                        <div class="mt-n-15"><a href="Connect Live">Join</a></div> 
                                    </div>
                                    <div style="height:1px; background:#eaeaea; width:98%; margin:5px 5px 10px 7px"></div>
                                    <div class="col-md-3">
                                        <div style="border:1px solid #ccc; border-radius:50px; padding:1px"><img src="../../assets/img.jpeg" class="img-fluid" style="border-radius:50px"></div>
                                    </div>
                                    <div class="col-md-9">
                                        <div><h4>Venkatesh</h4></div>
                                        <div class="mt-n-15"><h4>005</h4></div>
                                        <div class="mt-n-15"><a href="Connect Live">Join</a></div> 
                                    </div>
                                    <div style="height:1px; background:#eaeaea; width:98%; margin:5px 5px 10px 7px"></div>
                                    <div class="col-md-3">
                                        <div style="border:1px solid #ccc; border-radius:50px; padding:1px"><img src="../../assets/img.jpeg" class="img-fluid" style="border-radius:50px"></div>
                                    </div>
                                    <div class="col-md-9">
                                        <div><h4>Rajesh</h4></div>
                                        <div class="mt-n-15"><h4>012</h4></div>
                                        <div class="mt-n-15"><a href="Connect Live">Join</a></div> 
                                    </div>

                                    <div style="height:1px; background:#eaeaea; width:98%; margin:5px 5px 10px 7px"></div>
                                    <div class="col-md-3">
                                        <div style="border:1px solid #ccc; border-radius:50px; padding:1px"><img src="../../assets/img.jpeg" class="img-fluid" style="border-radius:50px"></div>
                                    </div>
                                    <div class="col-md-9">
                                        <div><h4>Vishal</h4></div>
                                        <div class="mt-n-15"><h4>005</h4></div>
                                        <div class="mt-n-15"><a href="Connect Live">Join</a></div> 
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
               </div> 
            </div>
        </mat-card>
        </div>
    </div>
</div>
</app-header>