.margin{
    padding-top: 150px;
    padding-bottom: 80px;
}
.border-right{
    padding-right: 50px;
    border: 2px;
    border-right: 2px solid black;
    padding-left:250px ;
    font-size: 45px;
    padding-top: 20px;
    color: wheat;
    font-weight: bold;
}
.font-size{
    font-size: 19px;
    line-height: 30px;
}