<div class="container-fluid pt-0 mt-0" style="background-color: #FF333C;">
   
   
<div class="margin  container d-flex text-center">
<h1 class="border-right mr-2">Potentials</h1>
<ul class=" font-size">
    <li class="text-white font-size">
        Curiosity

    </li>
    <li class="text-white font-size mt-2">Insight</li>
    <li class="text-white font-size mt-2">Engagement</li>
    <li class="text-white font-size mt-2">Determination</li>
</ul>
</div>



</div>
<div class="container mt-5">
<div class="row">
    <div class="col-md-7">
        <h1 class="text-danger">Jobs and Internship</h1>
<p class="mt-3 font-size text-secondary">Good news. We're hiring!</p>
<p class="mt-3 font-size text-secondary">We are developing business management web applications for top-class enterprises in a few countries.
</p>
<p class="mt-3 font-size text-secondary">Our team is managed out of Hyderabad, India. Although we are ideally looking for local candidates, we will consider telecommuting and flex-work for talented individuals in a relative time zones. We are open to contract or full-time engagements.
</p>
<p class="mt-3 font-size text-secondary">Below are all of our current job openings. Please apply by emailing your CV and a motivation letter telling us why you're the best person of the job to getset at getsetsol dot com.</p>
<p class="mt-3 font-size text-secondary">Read this: <a href="">The Incalculable Value of Finding a Job You Love </a> </p>
    </div>
    <div class="col-md-5 pl-3 pr-3 bg-light">
<h1 class="text-danger mt-2">GetSet &GetSmart</h1>
<p class="mt-2 font-size text-secondary">​Subscribe to our careers newsletter. It covers curated content which may help you to grow in your career.</p>
<div class="bg-white p-3">
<p class="text-right mt-1 font-size text-secondary"> <span class="text-danger">* </span>indicates required</p>
<form action="" class="form-group">
<label for="">Email Address <span class="text-danger">* </span></label>
<input class="form-control" type="text" name="" id="">
</form>
<form action="" class="form-group">
    <label for="">First Name<span class="text-danger">* </span></label>
    <input class="form-control" type="text" name="" id="">
    </form>
    <form action="" class="form-group">
        <label for="">Last Name <span class="text-danger">* </span></label>
        <input class="form-control" type="text" name="" id="">
        </form>
        <button class="btn btn-secondary text-white">Subscribe</button>
</div>  

</div>
</div>
<hr class="mt-3">
<h1 class="mt-5 text-danger">Java Software Engineer (JSE)</h1>
<p>Hyderabad - Full time</p>
<h1 class="mt-5">Job Role: </h1>
<p class="font-size text-secondary mt-1">As a software developer, you’ll be the brain behind crafting, developing, testing, going live and maintaining the system. You are passionate in understanding the business context for features built to drive better customer experience and adoption.</p>
<h1 class="mt-5">Responsibilities:</h1>
<ul>
    <li class="font-size text-secondary mt-2">Familiar with the software development life cycle (SDLC) from analysis to deployment.</li>
    <li class="font-size text-secondary mt-2">Comply with coding standards and technical design.</li>
    <li class="font-size text-secondary mt-2">Believes in systematic approach to developing the system through clear documentation (flowcharts, layouts, & etc) of functionality, address every use case through creative solutions.</li>
    <li class="font-size text-secondary mt-2">Adapts structured coding styles for easy review, testing and maintainability of the code.</li>
    <li class="font-size text-secondary mt-2">Integrate the developed functionality and/or component into a fully functional system.</li>
    <li class="font-size text-secondary mt-2">Ensure unit and integration level verification plan are in place and adheres to great quality of code at all time.</li>
    <li class="font-size text-secondary mt-2">Active participate in troubleshooting, debugging and updating current live system.</li>
    <li class="font-size text-secondary mt-2">Verify user feedback in making system more stable and easy.
    </li>
    <li class="font-size text-secondary mt-2">Work closely with analysts, designers and other peer </li>
    <li class="font-size text-secondary mt-2">Preparing technical training documents for onboarding new engineers.</li>
</ul>
<h1 class="mt-5">Requirements:</h1>
<ul>
    <li class="font-size text-secondary mt-2">Bachelor’s degree in computer science or equivalent practical experience.
    </li>
    <li class="font-size text-secondary mt-2">3+ years of experience as Software Engineer or Software Developer or in a relevant role. Exceptional Freshers are welcome.</li>
    <li class="font-size text-secondary mt-2">"I can do" and "We can do" attitudes with Entrepreneurial spirit.</li>
    <li class="font-size text-secondary mt-2">Understanding of OOPS concepts, Persistence, Threading.</li>
    <li class="font-size text-secondary mt-2">Proficient in Java programming language.</li>
    <li class="font-size text-secondary mt-2">Hands-on with SQL or NoSQL database.</li>
    <li class="font-size text-secondary mt-2">Competent with developing web apps in popular web frameworks (JQuery, Spring Micro Services etc,).</li> 
    <li class="font-size text-secondary mt-2">Knowledgeable in data structures and algorithms.</li>
    <li class="font-size text-secondary mt-2">Experience with open-source projects.
    </li>
    <li class="font-size text-secondary mt-2">Experience in designing interactive applications.</li>
    <li class="font-size text-secondary mt-2">Prior experience with AWS, Azure, Google or Openstack will be a plus</li>
</ul>
<hr class="mt-5">
<h1 class="text-danger mt-5">Volunteer Positions</h1>
<h1 class="mt-4">Graphic Design Support</h1>
<p class="font-size text-secondary mt-1">We have a number of small design projects that includes case studies, info-graphics and other materials. If you have spare hours now and then and want to help our customers to do more with our apps please email to getset at getsetsol dot com.</p>

<hr class="mt-5"> 
<p class="mt-5 font-size text-secondary">
    Note to Recruiters: We don't work with any recruiters as a matter of company's policy. Please don't email or call us.</p>
<hr class="mt-5 mb-5">
  
</div>

<div class="container-fluid p-0 text-center">
    <div class="pt-4 pb-4 bg-secondary text-white pl-2">CRN : ​U72200TG2005PTC047153 - GSTIN : ​36ACCG4547K2ZD - ​Privacy Policy - Copyright © 2006-20</div>

</div>
