.Display-1{
    font-size: 40px;
    font-weight: bold;
}
.font{
    font-size: 30px;
    font-weight: bold;
}
.text{
    font-weight: bold;
}
.font-size{
    font-size: 18px;
    line-height: 30px;
    
}
.wid{
    height: 5px;
    font-size: 10px;
}