<div class="container-fluid pt-5 pb-5 text-center" style="background-color:#FA8072">
<h1 class="text-center Display-1 mt-3 text-white">
    Win - Win - Win
</h1>
<h1 class="text-light">GetSet creates solutions where</h1>
<h1 class="text-light">​the customer wins, the people wins, the company wins.</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 m-auto">
            <h1 class="text-center text-secondary font mb-3">	
                About {{getset}}</h1>

                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Overview">
                        <h1 class="text-center font mt-4">Our Mission and Values</h1>
                        <p class="font-size"> <span class="text"> Our mission is two fold:</span> to help our customers make substantive improvement in their performance through our simplified technology solutions and build a socially responsible company that develops exceptional people.</p>
                  <p class="font-size">​We believe we will be successful if our customers and our people are successful.</p>
                <h3 class="font-size text">Our Values:</h3>
                <ul class="font-size">
                    <li class="">Integrity </li>
                    <li class="">Partnership </li>
                    <li class="">Social Impact </li>
                    <li>Respect for the Individual </li>
                    <li>Excellence </li>
                </ul>
                <!-- <mat-selection-list >
                    <mat-list-option >
                        Integrity
                    </mat-list-option>
                    <mat-list-option >
                        Partnership
                    </mat-list-option>
                  </mat-selection-list> -->
                </mat-tab>
                    <mat-tab label="Our Process">
                        <p class="font-size mt-5 text-secondary" > We've developed apps for enterprises and startups since 2005 with one purpose in mind - to provide business communities, with business management software that is easy to use, less total cost of ownership and quick to implement.</p>
                   <p class="font-size text-secondary">
                    We, a team of business and technology experts,  support our customers by applying our talents, expertise and insights - the strengths that make us stand out as IT solutions provider - to the unique apps that you have a desire and commitment to develop for your own use or for your clients.</p>
                   <p class="font-size text-secondary">We do this by <span class="text-danger">teaming your high-flying young talent with GetSet’s consultants</span>  and taking them through an intense information requirement study process. In as little as 3 months, you will have an app to manage all your essential business processes.</p>
                <p class="font-size text-secondary" >​We assist you in apps implementation, user training, long term support and maintenance of the apps co-created by you.</p>
                <p class="font-size text-secondary">To do this we need to get your senior leadership on the same page. We will be drawing up to a dozen personnel from across your organization. And top management will play a key role in governance and oversight of the implementation process.</p>
                    <p class="font-size text-secondary">Finally, with the support of GetSet’s consultants <span class="text-danger">the app is co-created by your own young leaders – giving them a sense of ownership, motivation and achievement.</span> </p>

                </mat-tab>
                   
                  </mat-tab-group>
                  <hr>
                  <button mat-raised-button class="mt-4"> GET IN TOUCH</button>
        </div>
    </div>
</div>
<hr class="mt-5 wid"/>

<div class="bg-dark text-white text-center pt-2 pb-2">
    CRN : ​U72200TG2005PTC047153 - GSTIN : ​36ACCG4547K2ZD - ​Privacy Policy - Copyright © 2006-20
</div>
