<mat-toolbar id="mainToolbar" color="primary">
  <mat-toolbar-row>
    <i mat-icon-button>
      <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">menu</mat-icon>
    </i>
        <span class="pt-2 pr-3 pl-4"><mat-icon aria-hidden="false" aria-label="Example home icon"><a routerLink="/home"style="color:white;">home</a></mat-icon></span>
        <span class="pt-2"><mat-icon aria-hidden="false" aria-label="icon"><a routerLink="/dashbord"style="color:white;">dashboard</a></mat-icon></span>
    <span class="menu-spacer"></span>
    <div>
      <!--- span class="pr-30">
          <input type="text" class="custom-input" placeholder="Search"/>
        </span -->
      <span class="pr-30">
          
            <i class="fa fa-diamond pr-2"></i><span class="ft-15">25</span>
         
        </span>
        <span class="pr-40">
          
            <img src="../../assets/coin-new.png" class="img-fluid pr-2" width="32px" height="32px"/><span class="ft-15">5050</span>
          
        </span>
        <span class="pr-30"><mat-icon matBadge="1" matBadgeColor="success">notifications</mat-icon>
            <span class="cdk-visually-hidden">1</span>
        </span>
        <span class="pr-15"><mat-icon matBadge="1" matBadgeColor="primary">supervisor_account</mat-icon>
            <span class="cdk-visually-hidden">1</span>
        </span>
		<span>
      <i mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
      </i>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span><a routerLink="/settings"style="color:black;">Settings</a></span>
  </button>
  <button mat-menu-item>
    <mat-icon>power_settings_new</mat-icon>
    <span><a routerLink="/login"style="color:black;">Logout</a></span>
  </button>
</mat-menu>
    </span>
	</div>
  </mat-toolbar-row>

 
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav  mode="side" id="sidenav" [class.menu-open]=isMenuOpen [class.menu-close]=!isMenuOpen opened>
    <mat-nav-list>
    <div class="mt-3 mb-4">
        <span class="user-panel"><mat-icon aria-hidden="false" aria-label="icon" class="ft-40">account_circle</mat-icon></span>
        <span class="user-info">
          <h4 class="txt-user">Username</h4>
          <h4 class="txt-info" [ngStyle]="{'font-size.px': txtInfo}">info: xxxx</h4>
        </span>
     
    </div>
      <a mat-list-item [routerLink]="'/profile'"><span class="pr-13"><mat-icon aria-hidden="false" aria-label="icon">account_box</mat-icon></span> Profile </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/mypage'"><span class="pr-13"><mat-icon aria-hidden="false" aria-label="icon">list_alt</mat-icon></span> My Page</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/top-players'"><span class="pr-13"><mat-icon aria-hidden="false" aria-label="icon">dynamic_feed</mat-icon></span> Top Players </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/invite-friends'"><span class="pr-13"><mat-icon aria-hidden="false" aria-label="icon">people_alt</mat-icon></span> Invite Friends </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/advertise'"><span class="pr-13"><mat-icon aria-hidden="false" aria-label="icon">campaign</mat-icon></span> Advertise Here</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/spin-coins'"><span class="pr-13"><mat-icon aria-hidden="false" aria-label="icon">trip_origin</mat-icon></span> Spin for Coins</a>
      <mat-divider></mat-divider>
      <!--- a mat-list-item [routerLink]="'/watch-videos'"><span class="pr-13"><mat-icon aria-hidden="false" aria-label="icon">videocam</mat-icon></span> Watch Videos</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/get-apps'"><span class="pr-13"><mat-icon aria-hidden="false" aria-label="icon">apps</mat-icon></span> Get your App</a>
      < a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Watch Videos</a -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{'margin-left.px': contentMargin}">
    <div style="height: 88vh;">
      <div class="container-fluid">
      <div class="row">
        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12">
  <div class="h-60">
    <div class="d-flex row h-60 justify-content-center align-items-center">
        <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 mb-5 mt-4">
            <div class="card">
                <div class="card-header">Advertise Here</div>
                <div class="card-body">
                    <div class="row">
                    <div class="col-md-4">
                        <div class="ad-panel"><mat-icon class="icon-txt pl-5 ml-2">library_books</mat-icon></div>
                        <div class="ad-panel text-center" style="border-top:0px">
                           <button (click)="addtext()" class="btn btn-primary text-white">Text ad</button>
                        </div>
                    </div> 
                    <div class="col-md-4">
                        <div class="ad-panel"><mat-icon class="icon-txt pl-5 ml-2">photo_library</mat-icon></div>
                        <div class="ad-panel text-center" style="border-top:0px">
                           <button (click)="addimg()"  class="btn btn-primary text-white">Single image ad</button>
                        </div>
                    </div> 
                    <div class="col-md-4">
                        <div class="ad-panel"><mat-icon class="icon-txt pl-5 ml-2">video_library</mat-icon></div>
                        <div class="ad-panel text-center" style="border-top:0px">
                            <button (click)="addvideo()"  class="btn btn-primary text-white">Video ad</button>
                        </div>
                    </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
          <div class="row">
            <div class=" m-auto col-xl-8 col-lg-6 col-md-6 col-sm-12 mb-4 mt-4" >

                <mat-card class="example-card" *ngIf="textcontent">
                  
                  <div class="row p-0 m-0">
                    <div class="col-md-12">
                    <mat-card-content >
                        <div  class="" *ngIf=textadd>
                          <form #userForm="ngForm">
                          
                                <div class="form-group" >
                          <label class="m-0 p-0" >Ad Heading</label>
                                    <input type="text" placeholder="25" ngModel name="addheader"  #name="ngModel"  [class.is-invalid]=" name.touched && name.invalid"  autofocus="false" required maxlength="25" class="form-control m-0 p-0" >
                                 
                                </div>
                               
                                <div class="form-group m-0 p-0">
                                    <label  class="m-0 p-0">Ad Description</label>
                                    <input type="text" class="form-control" maxlength="75" placeholder="75"  ngModel name="discription" #email="ngModel"  [class.is-invalid]=" email.touched && email.invalid " required class="form-control m-0 p-0" >
                                </div>
                               
                          </form>
                          <div class="text-right">
                          <button class="btn btn-info mt-1 mr-2" (click)="next(userForm.value)">Next</button>
                        
                        </div>
                        </div>


                        <div *ngIf="budget">
                        <h4>Budget & Shedule</h4>
                        <div class="form-group" >
                          <label class="m-0 p-0" >Budget</label>
                          <select matNativeControl class="form-control" required aria-placeholder="Set a daily budget">
                          
                            <option value="saab">week</option>
                            <option value="mercedes">Month</option>
                          </select>
                                   
                                </div>
                                <div class="form-group" >
                                  <label class="m-0 p-0" >Daily Budget</label>
                                  <input type="text" class="form-control" value="$ 50.00"> 
                                   
                                        </div>
                                        <h2 class="pb-0 mb-0">Sedule</h2>
                                        <div class="d-flex m-0 p-0">
                                        <input type="radio" name="select">
                                        <span class="ml-2 mt-2">Run Company Continuousiy</span>
                                        </div>
                                        <div class="d-flex">
                                          <input type="radio" name="select">
                                          <span class="ml-2 mt-2">Run Company Continuousiy</span>
                                          </div>
                                          <div class="d-flex mt-1">
                                            <div class="form-group" >
                                              <label class="m-0 p-0" >Start Date</label>
                                              <input type="date" class="form-control" > 
                                                    </div>
                                                     
                                                    <div class="form-group ml-1" >
                                                      <label class="m-0 p-0" >End Date</label>
                                                      <input type="date" class="form-control" > 
                                                            </div>
                                            </div>
                    <p>Your campaign will run for 31 days starting from july-6-2020. You will spend $ 1,550.00 total</p>
                    <div class="text-right">
                      <button class="mt-1 mr-2 btn btn-info" (click)="back()" >Back</button>
                      <button class="mt-1 mr-2 btn btn-info"  (click)="preview()">Next </button>
                      <!-- <button class="mt-1 btn btn-info" (click)="paymentShow()" >Next </button> -->
                    </div>               

                        </div>

                    
                    
                       <div class="card" *ngIf="textpreview">
                        <div  class="ad-content text-center" >
                          <h1 class=" text-center card-header">{{textaddpreview}}</h1>
                          <h2 class="text-left card-body mt-2">{{header}}</h2>
                            <p class="mt-2 text-left" style="overflow-wrap: break-word;">{{discription}}</p>

                            <div class="text-right">
                              <button class="mt-1 mr-2 btn btn-info" (click)="previewback()" >Back</button>
                             <a href=""> <button class="mt-1 mr-2 btn btn-info"  >Next </button></a>
                              <!-- <button class="mt-1 btn btn-info" (click)="paymentShow()" >Next </button> -->
                            </div> 
                          </div>

                          <!-- <div class="card" *ngIf="payment">
                            <div class="card-header">Payment Details</div>
                            <div class="card-body">
                              <form role="form">
                                <div class="form-group">
                                    <label for="cardNumber">
                                        CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control ht-34" id="cardNumber" placeholder="Valid Card Number"
                                            required autofocus />
                                    </div>
                                </div>

                               <div class="row">
                                  <div class="col-xs-7 col-md-7">
                                      <div class="form-group">
                                          <label for="expityMonth">
                                              EXPIRY DATE</label>
                                              <div class="row pl-ziro">
                                          <div class="col-xs-6 col-lg-6 ">
                                              <input type="text" class="form-control ht-34" id="expityMonth" placeholder="MM" required />
                                          </div>
                                          <div class="col-xs-6 col-lg-6 pl-ziro">
                                              <input type="text" class="form-control ht-34" id="expityYear" placeholder="YY" required /></div>
                                      </div>
                                      </div>
                                  </div>
                                  <div class="col-xs-5 col-md-5 pull-right">
                                      <div class="form-group">
                                          <label for="cvCode">
                                              CV CODE</label>
                                          <input type="password" class="form-control ht-34" id="cvCode" placeholder="CVV" required />
                                      </div>
                                  </div>
                              </div>
                              <a href="" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
                              </form>
                            </div>
                          </div>card -->
                        </div>
                        
                    </mat-card-content>
                  </div>


                  </div>


                </mat-card>

<!-- <img add> -->

                <div *ngIf="imageadd">
                  <mat-card class="example-card"  >
                    <mat-card-title class="text-center pt-2 pb-1">Advertise Image</mat-card-title>
                        <mat-card-content>
                          <div class="ad-content text-center" *ngIf="imglogo">
                              <div class="logo-panel">
                                <h3>Logo size : 160x30</h3>
                              </div>
                              <div class="text-right">
                                <button class="mt-1 btn btn-info" (click)="singleimgnextbudget()" >Next </button>
                              </div>
                          </div>
                        
                          <div class="ad-content" *ngIf="imgbudget"><h4>Budget & Shedule</h4>
                            <div class="form-group" >
                              <label class="m-0 p-0" >Budget</label>
                              <select matNativeControl class="form-control" required aria-placeholder="Set a daily budget">
                              
                                <option value="saab">week</option>
                                <option value="mercedes">Month</option>
                              </select>
                                       
                                    </div>
                                    <div class="form-group" >
                                      <label class="m-0 p-0" >Daily Budget</label>
                                      <input type="text" class="form-control" value="$ 50.00"> 
                                       
                                            </div>
                                            <h2 class="pb-0 mb-0">Sedule</h2>
                                            <div class="d-flex m-0 p-0">
                                            <input type="radio" name="select">
                                            <span class="ml-2 mt-1">Run Company Continuousiy from start date</span>
                                            </div>
                                          
                                              <div class="d-flex mt-1">
                                                  <div class="form-group" >
                                                    <label class="m-0 p-0" >Start Date</label>
                                                    <input type="date" class="form-control" style="width:140px"> 
                                                  </div>
                                                  <div class="form-group ml-1" >
                                                      <label class="m-0 p-0" >End Date</label>
                                                      <input type="date" class="form-control" style="width:140px"> 
                                                  </div>
                                              </div>
                        <p>Your campaign will run for 31 days starting from july-6-2020. You will spend $ 1,550.00 total</p>
                        <div class="text-right">
                          <button class="mt-1 mr-2 btn btn-info" (click)=" singleimgnextback()"  >Back</button>
                          <!-- <button class="mt-1 mr-2 btn btn-info"  >Preview </button> -->
                          <button class="mt-1 btn btn-info"  (click)="singleimgnextpaynext()" >Next </button>
                        
                        </div>
                      </div>
<!--         
                      <div class="card" *ngIf="imgpayment">
                                    <div class="card-header">Payment Details</div>
                                    <div class="card-body">
                                      <form role="form">
                                        <div class="form-group">
                                            <label for="cardNumber">
                                                CARD NUMBER</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control ht-34" id="cardNumber" placeholder="Valid Card Number"
                                                    required autofocus />
                                            </div>
                                        </div>
        
                                       <div class="row">
                                          <div class="col-xs-7 col-md-7">
                                              <div class="form-group">
                                                  <label for="expityMonth">
                                                      EXPIRY DATE</label>
                                                      <div class="row pl-ziro">
                                                  <div class="col-xs-6 col-lg-6 ">
                                                      <input type="text" class="form-control ht-34" id="expityMonth" placeholder="MM" required />
                                                  </div>
                                                  <div class="col-xs-6 col-lg-6 pl-ziro">
                                                      <input type="text" class="form-control ht-34" id="expityYear" placeholder="YY" required /></div>
                                              </div>
                                              </div>
                                          </div>
                                          <div class="col-xs-5 col-md-5 pull-right">
                                              <div class="form-group">
                                                  <label for="cvCode">
                                                      CV CODE</label>
                                                  <input type="password" class="form-control ht-34" id="cvCode" placeholder="CVV" required />
                                              </div>
                                          </div>
                                      </div>
                                      <a href="" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
                                      </form>
                                    </div>
                                    <div class="text-right">
                                      <button class="mt-1 mr-2 btn btn-info" (click)=" singleimgnextpayback()"  >Back</button>
                                      
                                      <button class="mt-1 btn btn-info"  (click)="singleimgnextpaynext()" >Next </button>
                                    
                                    </div>
                                  </div>card -->

                                  <div *ngIf="previewimg" class="card">
                                    <div class="card-header text-center">
                                      Preview
                                    </div>
                                    <div class="card-body text-center">
                                      Logo
                                    </div>
                                    <div class="text-right mb-2">
                                      <button class="mt-1 mr-2 btn btn-info" (click)="singleimgnextpreviewback()"  >Back</button>
                                      
                                    <a href=""> <button class="mt-1 btn btn-info"   >Next </button></a> 
                                    
                                    </div>
                                   
                                  </div>
                         
                        </mat-card-content>
                    </mat-card>
        
        
        
                </div>

                <!-- <addvideo></addvideo> -->

                <div *ngIf="adddvideo">
                 
            <mat-card class="" >
              <mat-card-title class="text-center pt-2 pb-1">Advertise Video</mat-card-title>
                  <mat-card-content>
                    <div class="ad-content" *ngIf="videosepcs" >
                        <div class="video-panel">
                          <p>Layout: Horizontal or vertical</p>
                          <p>File size: Between 75 KB and 200 MB</p>
                          <p>File format: MP4</p>
                        </div>
                        <div class="text-right">
                         
                          <button class="mt-1 btn btn-info"  (click)="videofirstnext()">Next </button>
                        </div>
                    </div>
                      <div class="ad-content" *ngIf="videobudget"><h4>Budget & Shedule</h4>
                        <div class="form-group" >
                      <label class="m-0 p-0" >Budget</label>
                      <select matNativeControl class="form-control" required aria-placeholder="Set a daily budget">
                      
                        <option value="saab">week</option>
                        <option value="mercedes">Month</option>
                      </select>
                               
                            </div>
                            <div class="form-group" >
                              <label class="m-0 p-0" >Daily Budget</label>
                              <input type="text" class="form-control" value="$ 50.00"> 
                               
                                    </div>
                                    <h2 class="pb-0 mb-0">Sedule</h2>
                                    <div class="d-flex m-0 p-0">
                                    <input type="radio" name="select">
                                    <span class="ml-2 mt-1">Run Company Continuousiy from start date</span>
                                    </div>
                                  
                                      <div class="d-flex mt-1">
                                          <div class="form-group" >
                                            <label class="m-0 p-0" >Start Date</label>
                                            <input type="date" class="form-control" style="width:140px"> 
                                          </div>
                                          <div class="form-group ml-1" >
                                              <label class="m-0 p-0" >End Date</label>
                                              <input type="date" class="form-control" style="width:140px"> 
                                          </div>
                                      </div>
                <p>Your campaign will run for 31 days starting from july-6-2020. You will spend $ 1,550.00 total</p>              
                 <div class="text-right">
                <button class="mt-1 mr-2 btn btn-info" (click)=" videofirstback()"  >Back</button>
                <!-- <button class="mt-1 mr-2 btn btn-info"  >Preview </button> -->
                <button class="mt-1 btn btn-info"  (click)="videopreviewone()" >Next </button>
              </div>
              </div>

                <!-- <div class="card" *ngIf="videopayment">
                            <div class="card-header">Payment Details</div>
                            <div class="card-body">
                              <form role="form">
                                <div class="form-group">
                                    <label for="cardNumber">
                                        CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control ht-34" id="cardNumber" placeholder="Valid Card Number"
                                            required autofocus />
                                    </div>
                                </div>

                               <div class="row">
                                  <div class="col-xs-7 col-md-7">
                                      <div class="form-group">
                                          <label for="expityMonth">
                                              EXPIRY DATE</label>
                                              <div class="row pl-ziro">
                                          <div class="col-xs-6 col-lg-6 ">
                                              <input type="text" class="form-control ht-34" id="expityMonth" placeholder="MM" required />
                                          </div>
                                          <div class="col-xs-6 col-lg-6 pl-ziro">
                                              <input type="text" class="form-control ht-34" id="expityYear" placeholder="YY" required /></div>
                                      </div>
                                      </div>
                                  </div>
                                  <div class="col-xs-5 col-md-5 pull-right">
                                      <div class="form-group">
                                          <label for="cvCode">
                                              CV CODE</label>
                                          <input type="password" class="form-control ht-34" id="cvCode" placeholder="CVV" required />
                                      </div>
                                  </div>
                              </div>
                              <a href="" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
                              </form>
                            </div>
                            <div class="text-right">

                          
                            <button class="mt-1 mr-2 btn btn-info" (click)="videosecondback()"  >Back</button>
                        
                            <button class="mt-1 btn btn-info" (click)="videopreviewone()"  >Next </button>
                          </div>
                          </div>card -->

                          <div *ngIf="videopreview" class="card">
                            <div class="card-header text-center">
                              Preview
                            </div>
                            <div class="card-body text-center">
                              Video
                            </div>
                            <div class="text-right mb-2">
                              <button class="mt-1 mr-2 btn btn-info" (click)="videonextpreviewback()"  >Back</button>
                             <a href=""> <button class="mt-1 btn btn-info"   >Next </button></a>
                              <!-- <button class="mt-1 btn btn-info"  (click)="singleimgnextpaynext()" >Next </button> -->
                            
                            </div>
                           

                          </div>

                 
 
                  </mat-card-content>
              </mat-card>
                </div>


                
            </div>


            













            
          </div><!---row -->
        </div><!-- col-md-9 -->

        <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 mb-4 mt-4">
          <div>
            <mat-card class="example-card">
            <mat-card-title class="text-center pt-2 pb-1">Live Performance</mat-card-title>
                <mat-card-content>
                    <div class="ad-content"></div>
                </mat-card-content>
            </mat-card>
          </div>
          <div class="mt-4">
            <mat-card class="example-card">
            <mat-card-title class="text-center pt-2 pb-1">Live Competitions</mat-card-title>
                <mat-card-content>
                    <div class="ad-content"></div>
                </mat-card-content>
            </mat-card>
          </div>
          <div class="mt-4" >
            <mat-card class="example-card" *ngIf="imgadd" >
            <mat-card-title class="text-center pt-2 pb-1">Advertise Image</mat-card-title>
                <mat-card-content>
                  <div class="ad-content text-center" *ngIf="imglogo">
                      <div class="logo-panel">
                        <h3>Logo size : 160x30</h3>
                      </div>
                  </div>
                  <div class="ad-content" *ngIf="imgbudget"><h4>Budget & Shedule</h4>
                    <div class="form-group" >
                      <label class="m-0 p-0" >Budget</label>
                      <select matNativeControl class="form-control" required aria-placeholder="Set a daily budget">
                      
                        <option value="saab">week</option>
                        <option value="mercedes">Month</option>
                      </select>
                               
                            </div>
                            <div class="form-group" >
                              <label class="m-0 p-0" >Daily Budget</label>
                              <input type="text" class="form-control" value="$ 50.00"> 
                               
                                    </div>
                                    <h2 class="pb-0 mb-0">Sedule</h2>
                                    <div class="d-flex m-0 p-0">
                                    <input type="radio" name="select">
                                    <span class="ml-2 mt-1">Run Company Continuousiy from start date</span>
                                    </div>
                                  
                                      <div class="d-flex mt-1">
                                          <div class="form-group" >
                                            <label class="m-0 p-0" >Start Date</label>
                                            <input type="date" class="form-control" style="width:140px"> 
                                          </div>
                                          <div class="form-group ml-1" >
                                              <label class="m-0 p-0" >End Date</label>
                                              <input type="date" class="form-control" style="width:140px"> 
                                          </div>
                                      </div>
                <p>Your campaign will run for 31 days starting from july-6-2020. You will spend $ 1,550.00 total</p>
              </div>

              <div class="card" *ngIf="imgpayment">
                            <div class="card-header">Payment Details</div>
                            <div class="card-body">
                              <form role="form">
                                <div class="form-group">
                                    <label for="cardNumber">
                                        CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control ht-34" id="cardNumber" placeholder="Valid Card Number"
                                            required autofocus />
                                    </div>
                                </div>

                               <div class="row">
                                  <div class="col-xs-7 col-md-7">
                                      <div class="form-group">
                                          <label for="expityMonth">
                                              EXPIRY DATE</label>
                                              <div class="row pl-ziro">
                                          <div class="col-xs-6 col-lg-6 ">
                                              <input type="text" class="form-control ht-34" id="expityMonth" placeholder="MM" required />
                                          </div>
                                          <div class="col-xs-6 col-lg-6 pl-ziro">
                                              <input type="text" class="form-control ht-34" id="expityYear" placeholder="YY" required /></div>
                                      </div>
                                      </div>
                                  </div>
                                  <div class="col-xs-5 col-md-5 pull-right">
                                      <div class="form-group">
                                          <label for="cvCode">
                                              CV CODE</label>
                                          <input type="password" class="form-control ht-34" id="cvCode" placeholder="CVV" required />
                                      </div>
                                  </div>
                              </div>
                              <a href="" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
                              </form>
                            </div>
                          </div><!--card-->
                    <div class="text-right">
                      <button class="mt-1 mr-2 btn btn-info" *ngIf="btnbackImg" (click)="backimg()" >Back</button>
                      <!-- <button class="mt-1 mr-2 btn btn-info" *ngIf="btnpreviewImg" (click)="previewimg()">Preview </button> -->
                      <button class="mt-1 btn btn-info" *ngIf="btnnextImg" (click)="nextimg()" >Next </button>
                      <button class="mt-1 btn btn-info" *ngIf="btnnextImgpayment" (click)="nextimgpay()" >Next </button>
                    </div>
                </mat-card-content>
            </mat-card>



            <mat-card class="" *ngIf="videoadd" >
              <mat-card-title class="text-center pt-2 pb-1">Advertise Video</mat-card-title>
                  <mat-card-content>
                    <div class="ad-content" *ngIf="videosepcs">
                        <div class="video-panel">
                          <p>Layout: Horizontal or vertical</p>
                          <p>File size: Between 75 KB and 200 MB</p>
                          <p>File format: MP4</p>
                        </div>
                    </div>
                      <div class="ad-content" *ngIf="videobudget"><h4>Budget & Shedule</h4>
                        <div class="form-group" >
                      <label class="m-0 p-0" >Budget</label>
                      <select matNativeControl class="form-control" required aria-placeholder="Set a daily budget">
                      
                        <option value="saab">week</option>
                        <option value="mercedes">Month</option>
                      </select>
                               
                            </div>
                            <div class="form-group" >
                              <label class="m-0 p-0" >Daily Budget</label>
                              <input type="text" class="form-control" value="$ 50.00"> 
                               
                                    </div>
                                    <h2 class="pb-0 mb-0">Sedule</h2>
                                    <div class="d-flex m-0 p-0">
                                    <input type="radio" name="select">
                                    <span class="ml-2 mt-1">Run Company Continuousiy from start date</span>
                                    </div>
                                  
                                      <div class="d-flex mt-1">
                                          <div class="form-group" >
                                            <label class="m-0 p-0" >Start Date</label>
                                            <input type="date" class="form-control" style="width:140px"> 
                                          </div>
                                          <div class="form-group ml-1" >
                                              <label class="m-0 p-0" >End Date</label>
                                              <input type="date" class="form-control" style="width:140px"> 
                                          </div>
                                      </div>
                <p>Your campaign will run for 31 days starting from july-6-2020. You will spend $ 1,550.00 total</p>              
                  </div>

                <div class="card" *ngIf="videopayment">
                            <div class="card-header">Payment Details</div>
                            <div class="card-body">
                              <form role="form">
                                <div class="form-group">
                                    <label for="cardNumber">
                                        CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control ht-34" id="cardNumber" placeholder="Valid Card Number"
                                            required autofocus />
                                    </div>
                                </div>

                               <div class="row">
                                  <div class="col-xs-7 col-md-7">
                                      <div class="form-group">
                                          <label for="expityMonth">
                                              EXPIRY DATE</label>
                                              <div class="row pl-ziro">
                                          <div class="col-xs-6 col-lg-6 ">
                                              <input type="text" class="form-control ht-34" id="expityMonth" placeholder="MM" required />
                                          </div>
                                          <div class="col-xs-6 col-lg-6 pl-ziro">
                                              <input type="text" class="form-control ht-34" id="expityYear" placeholder="YY" required /></div>
                                      </div>
                                      </div>
                                  </div>
                                  <div class="col-xs-5 col-md-5 pull-right">
                                      <div class="form-group">
                                          <label for="cvCode">
                                              CV CODE</label>
                                          <input type="password" class="form-control ht-34" id="cvCode" placeholder="CVV" required />
                                      </div>
                                  </div>
                              </div>
                              <a href="" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
                              </form>
                            </div>
                          </div><!--card-->

                  <div class="text-right">
                      <button class="mt-1 mr-2 btn btn-info" *ngIf="btnbackvideo" (click)="backvideo()" >Back</button>
                      <!-- <button class="mt-1 mr-2 btn btn-info" *ngIf="btnpreviewvideo" (click)="previewimg()">Preview </button> -->
                      <button class="mt-1 btn btn-info" *ngIf="btnnextvideo" (click)="nextvideo()" >Next </button>
                      <button class="mt-1 btn btn-info" *ngIf="btnpayvideo" (click)="nextvideopay()" >Next </button>
                    </div>
                  </mat-card-content>
              </mat-card>
          </div>
        </div><!-- col-xl-3 -->
      </div><!-- row -->
      </div><!--- container-fluid -->
     </div> 
  </mat-sidenav-content>
</mat-sidenav-container>
