<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid  pt-5 img">
        <div class="text-center  pt-5 text-white  slide "><button class="btn btn-light  p-3 display-1"><h1 class="slie">Maintenances & Support</h1></button></div>
       
      </div> 

<div class="container mt-5">
    <div class="card-deck">
        <div class="card border-0">
         <p class="text">With our best in class, reliable support system, we help to focus on the core business, by ensuring that
          our clients get higher uptime, better performance of application within budget. Extensive support for all
          versions and industry solutions of our solution portfolio. Reduce dependency on External or Internal
          resources with quicker and faster response time and resolutions extensive knowledge with assured
          support. We support even older versions for which support has ceased. We offer different levels of
          Technical Support so you can getget the type of support that best suits your business needs. A virtual
          worry-free implementation with 24×7 monitoring and support.</p>
        <p class="text">  We bring our expertise of supporting complex clustered, high availability environments with extensive
          external integrations</p>
          <p class="text"> Talk to us for your supportrequirements, With 24×7 support team, ticketing system, secure remote
          access.</p>
        </div>
        <div class="card">
            <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTaOv03l1_ZYPqQnIBsYo_o8P82Kkdd4AqALtGeetqJNeUFx4HO&usqp=CAU" alt="">
        </div>
    </div>
</div>

<hr class="bg-dark">
     <div class=" card-deck bg-light p-0 m-0">
      <div class=" card border-0 bg-light text-secondary">
        <div> <h4 class="mb-3 text-danger color"> QUICK LINKS </h4></div>
        <div class="mb-3 text-secondary">    <a class="text-secondary dropdown-item" (click)="home()">
          <h5 class="text font">HOME</h5></a></div>
          <div class="mb-3 text-secondary">   <a (click)="about()" class="text-secondary dropdown-item"><h5 class="text font">

          ABOUT US</h5></a></div>
        <div class="mb-3 text-secondary"> <a (click)="careers()"  class="text-secondary dropdown-item">
          <h5 class="text font">CAREERS</h5></a>
        
          </div>
        <div class="mb-3 text-secondary">         <a (click)="contact()"class="text-secondary dropdown-item" >
          <h5 class="text font">CONTACT</h5></a></div>
   
    
</div>

         <div class=" card border-0 bg-light text-secondary">
            <div class="color"> <h3 class="mb-3 ml-5  text-center text-danger color">Services</h3></div>
            <div class="mb-3 text-secondary">     <a (click)="telcome()" class="dropdown-item">
              <h5 class="text font"> Enterprise Application</h5></a></div>
              <div class="mb-3 text-secondary">     <a (click)="digital()" class="dropdown-item">
                <h5 class="text font">   Digital Transformation</h5></a></div>
                <div class="mb-3 text-secondary">     <a  (click)="digitalmarketing()" class="dropdown-item">
                  <h5 class="text font">   Digital Marketing Solutions</h5></a></div>
                  <div class="mb-3 text-secondary">    <a (click)="qa()" class="dropdown-item">
                    <h5 class="text font">    QA & Testing</h5></a></div>
        </div>
   
    
    
  
    <div class=" card border-0 bg-light text-secondary">
         
            <div class="mb-3 text-secondary mt-5">    <a (click)="project()" class="dropdown-item">
              <h5 class="text font">     Project Management</h5></a></div>
                       
              <div class="mb-3 text-secondary">   <a (click)="data()" class="dropdown-item">
                <h5 class="text font">      Data Management & Integration</h5></a></div>
                <div class="mb-3 text-secondary">  <a (click)="it()" class="dropdown-item">
                  <h5 class="text font">      IT Staffing and Consulting Services</h5></a></div>
                <div class="mb-3 text-secondary">   <a (click)="maintenance()" class="dropdown-item">
                  <h5 class="text font">     Maintenances & Support</h5></a></div>
    </div>

</div>


<div class="bg-dark pl-4 p-2">
  <h5 class="text-white"> @Megaroy Solutions</h5>
</div>




</body>
</html>
