.mat-card{padding:8px; border-radius:0px; box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);}
.mat-card-title {font-size: 18px; color:#f7981c;}
.mat-primary{background:#2ca0f7}
h4{font-size:14px; font-weight:500; line-height:20px;}
.mat-card-title h4{color:#383838; font-size:18px}
.won{background:#efefef; padding:5px; border:1px solid #ccc; height:38px}
.won h4{font-size:15px; font-weight:500; text-align:center}
.card-header{font-size:18px; padding:0px 0px 5px 0px ;  height:36px; line-height:36px}
.card-body{padding:8px}