<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid  pt-5 img">
        <div class="text-center  pt-5 text-white  slide "><button class="btn btn-light  p-3 display-1"><h1 class="slie">CONTACT US</h1>
        <h4>MEGAROY SOLUTIONS IS A GLOBAL IT SERVICE PROVIDER.</h4></button></div>
       
      </div> 

      
<div class="container mt-5">
  <div class="card-deck">
      <div class="card border-0">
       <h2 class="text-center heading">Address </h2> 
       <h4 class="text-center mt-2 text"> LIG-36,</h4>
       <h4 class="text-center text "> Shifa Plaza First Floor,</h4>
       <h4 class="text-center text"> Dharma Reddy Colony Phase I,</h4>
       <h4 class="text-center text"> Kukatpally,</h4>
       <h4 class="text-center text"> Hyderabad,</h4>
       <h4 class="text-center text"> Telangana 500072.</h4>
    
      </div>
    
  </div>
</div>
<hr class="bg-dark">
     <div class=" card-deck bg-light p-0 m-0">
      <div class=" card border-0 bg-light text-secondary">
        <div> <h4 class="mb-3 text-danger color"> QUICK LINKS </h4></div>
        <div class="mb-3 text-secondary">    <a class="text-secondary dropdown-item" (click)="home()">
          <h5 class="text font">HOME</h5></a></div>
          <div class="mb-3 text-secondary">   <a (click)="about()" class="text-secondary dropdown-item"><h5 class="text font">

          ABOUT US</h5></a></div>
        <div class="mb-3 text-secondary"> <a (click)="careers()"  class="text-secondary dropdown-item">
          <h5 class="text font">CAREERS</h5></a>
        
          </div>
        <div class="mb-3 text-secondary">         <a (click)="contact()"class="text-secondary dropdown-item" >
          <h5 class="text font">CONTACT</h5></a></div>
   
    
</div>

         <div class=" card border-0 bg-light text-secondary">
            <div class="color"> <h3 class="mb-3 ml-5  text-center text-danger color">Services</h3></div>
            <div class="mb-3 text-secondary">     <a (click)="telcome()" class="dropdown-item">
              <h5 class="text font"> Enterprise Application</h5></a></div>
              <div class="mb-3 text-secondary">     <a (click)="digital()" class="dropdown-item">
                <h5 class="text font">   Digital Transformation</h5></a></div>
                <div class="mb-3 text-secondary">     <a  (click)="digitalmarketing()" class="dropdown-item">
                  <h5 class="text font">   Digital Marketing Solutions</h5></a></div>
                  <div class="mb-3 text-secondary">    <a (click)="qa()" class="dropdown-item">
                    <h5 class="text font">    QA & Testing</h5></a></div>
        </div>
   
    
    
  
    <div class=" card border-0 bg-light text-secondary">
         
            <div class="mb-3 text-secondary mt-5">    <a (click)="project()" class="dropdown-item">
              <h5 class="text font">     Project Management</h5></a></div>
                       
              <div class="mb-3 text-secondary">   <a (click)="data()" class="dropdown-item">
                <h5 class="text font">      Data Management & Integration</h5></a></div>
                <div class="mb-3 text-secondary">  <a (click)="it()" class="dropdown-item">
                  <h5 class="text font">      IT Staffing and Consulting Services</h5></a></div>
                <div class="mb-3 text-secondary">   <a (click)="maintenance()" class="dropdown-item">
                  <h5 class="text font">     Maintenances & Support</h5></a></div>
    </div>

</div>


<div class="bg-dark pl-4 p-2">
  <h5 class="text-white"> @Megaroy Solutions</h5>
</div>

