<div class="container bg-secondary  text-white slide margin-top p-5 mb-2">
    <h1 class="display text-center mb-5">​
        ​GetSet IBMS</h1>
        <h1 class="text-center">
            ​Accounting, Payroll, Inventory, Project Management and many more..</h1>
            <h1 class="text-center">Integrated Business Management Software</h1>
            <h1 class="text-center">​to accelerate business performance.​</h1>
    
            <div class="text-center mt-2">
                <button mat-raised-button class="pt-1 "> <h1>GET STARTED NOW</h1></button>
                <h1 class="slide">{{hello}}</h1>
              
            </div>
    </div>
    <hr/>
    
    <div class="container mt-3">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Hospitality">
                <div class="row m-0 p-0 mt-4">
                    <div class="col-md-4 text-center">
                        <h1 class="font">Hospitality</h1>
                        <p class="mt-2">Hotel-chains, Mobile Camps
                        </p>
                    </div>
                    <div class="col-md-8">
                        <table class="table font">
                            <tr>
                                <td> <h3> Reservations </h3></td>
                                <td> <h3> POS </h3></td>
                                <td> <h3> Recipe </h3></td>
                            </tr>
                            <tr>
                                <td><h3>Procurement</h3></td>
                                <td><h3>Inventory</h3></td>
                                <td><h3>Maintenance</h3></td>
                            </tr>
                            <tr>
                                <td><h3>HR Admin</h3></td>
                                <td><h3>Payroll</h3></td>
                                <td><h3>Time and Attendance</h3></td>
                            </tr>
                            <tr>
                                <td><h3>Financials</h3></td>
                                <td><h3>Fixed Assets</h3></td>
                                <td><h3>Budgets</h3></td>
                            </tr>
                            <tr>
                                <td><h3>Reports</h3></td>
                                <td><h3>Analytics</h3></td>
                                <td><h3>User Controls</h3></td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Agro">
                <div class="row mt-3">
                    <div class="col-md-4 text-center">
                        <h1 class="font">Agro</h1>
                        <p class="mt-2">Horti-culture, Tea Estates, Cut Flowers.
                        </p>
                    </div>
                    <div class="col-md-8">
                        <table class="table font">
                            <tr>
                                <td> <h3> Crop Planning </h3></td>
                                <td> <h3> Crop Records </h3></td>
                                <td> <h3> Exports
                                </h3></td>
                            </tr>
                            <tr>
                                <td><h3>Procurement</h3></td>
                                <td><h3>Inventory</h3></td>
                                <td><h3>Maintenance</h3></td>
                            </tr>
                            <tr>
                                <td><h3>HR Admin</h3></td>
                                <td><h3>Payroll</h3></td>
                                <td><h3>Time and Attendance</h3></td>
                            </tr>
                            <tr>
                                <td><h3>Financials</h3></td>
                                <td><h3>Fixed Assets</h3></td>
                                <td><h3>Budgets</h3></td>
                            </tr>
                            <tr>
                                <td><h3>Reports</h3></td>
                                <td><h3>Analytics</h3></td>
                                <td><h3>User Controls</h3></td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
    
            </mat-tab>
            <mat-tab label="Distribution">
                <div class="row mt-3">
                    <div class="col-md-4 text-center">
                        <h1 class="font">Distribution</h1>
                        <p class="mt-2">Retail, Wholesale and Distribution.
                        </p>
                    </div>
                    <div class="col-md-8">
                        <table class="table font">
                            <tr>
                                <td> <h3> Crop Planning </h3></td>
                                <td> <h3> Crop Records </h3></td>
                                <td> <h3> Exports
                                </h3></td>
                            </tr>
                            <tr>
                                <td><h3>Procurement</h3></td>
                                <td><h3>Inventory</h3></td>
                                <td><h3>Maintenance</h3></td>
                            </tr>
                            <tr>
                                <td><h3>HR Admin</h3></td>
                                <td><h3>Payroll</h3></td>
                                <td><h3>Time and Attendance</h3></td>
                            </tr>
                            <tr>
                                <td><h3>Financials</h3></td>
                                <td><h3>Fixed Assets</h3></td>
                                <td><h3>Budgets</h3></td>
                            </tr>
                            <tr>
                                <td><h3>Reports</h3></td>
                                <td><h3>Analytics</h3></td>
                                <td><h3>User Controls</h3></td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
    
            </mat-tab>
    
            <mat-tab label="Contracts">
                <div class="row mt-3">
                    <div class="col-md-4 text-center">
                        <h1 class="font">Contracts</h1>
                        <p class="mt-2">MEP Contracts
    
                        </p>
                    </div>
                    <div class="col-md-8">
                        <table class="table font">
                            <tr>
                                <td> <h3> Crop Planning </h3></td>
                                <td> <h3> Crop Records </h3></td>
                                <td> <h3> Exports
                                </h3></td>
                            </tr>
                            <tr>
                                <td><h3>Procurement</h3></td>
                                <td><h3>Inventory</h3></td>
                                <td><h3>Maintenance</h3></td>
                            </tr>
                            <tr>
                                <td><h3>HR Admin</h3></td>
                                <td><h3>Payroll</h3></td>
                                <td><h3>Time and Attendance</h3></td>
                            </tr>
                            <tr>
                                <td><h3>Financials</h3></td>
                                <td><h3>Fixed Assets</h3></td>
                                <td><h3>Budgets</h3></td>
                            </tr>
                            <tr>
                                <td><h3>Reports</h3></td>
                                <td><h3>Analytics</h3></td>
                                <td><h3>User Controls</h3></td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
    
            </mat-tab>
          </mat-tab-group>
    </div>
    
    <div class="container bg-light text-center  pb-3 mt-3">
        <h1 class="pt-5">" GetSet enabled us to support our B2B beverage business growth.</h1>
        <h1>We can recommend GetSet to any distribution company."</h1>
        <img class="mt-4 mb-2  " src="https://www.getsetsol.com/uploads/1/8/9/4/18948437/published/bevco-logo-01_2.jpg" alt="">
    </div>
    
    <div class="container-fluid  mt-4">
        <h1 class="text-center bg-light display-1 p-3">Why our ​customers ​choose ​GetSet IBMS? </h1>  
        <div class="container mt-3 bg-light p-3">
           
        <p class="font-size text-secondary">Let‘s be honest: You‘ve heard it all before. Every ERP provider you evaluate presents the same arguments: 1. they all have the most advanced technology, 2. they are very flexible, and 3. they are proud to tell you about their exceptional customer satisfaction.</p>
    <p class="font-size mt-3 text-secondary">​But when you choose to buy a business management software, what should be the deciding factor? The people. Or more exactly, who do you trust to make your business management software work for you? Who understands your specific business processes? And, who can improve them in such a way that your business gains a competitive edge?</p>   
    <p class="font-size mt-3 text-secondary">Our customers trust GetSet to support their own young leaders and help their business grow. But beyond that, there are many other significant reasons why best run companies choose GetSet IBMS. Here is a short collection of the reasons our customers cite for choosing GetSet IBMS:</p>
    <div class="row p-0 m-0 mt-2 ">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <ul>
            <li class="font-size"> <span class="font"> Easy to use - </span> 85% of end users are reluctant to change from GetSet IBMS.</li>
            <li class="font-size"> <span class="font">Less Total Cost of Ownership - </span>  0% Capital Investment and 48% less Operating Cost. </li>
            <li class="font-size"> <span class="font"> Quick to Deploy  </span> across Divisions and Subsidiaries in as little as 3 Months, Not Years.</li>
             <li class="font-size">​GetSet's team is specialized in the industries or markets they know best.</li>
             <li class="font-size">Very flexible to adopt GetSet IBMS to change which includes regulatory requirements, business models or expansion to new locations.</li>
        </ul>
    </div>
    
    
    <div class="col-md-5">
        <ul>
            <li class="font-size">Access from anywhere. </li>
            <li class="font-size">One source of visibility for real time operational, financial and management information.</li>
            <li class="font-size">Accelerated month-end and year-end close</li>
            <li class="font-size">FIFO or FEFO based Inventory valuation.</li>
            <li class="font-size">Segregation of duties for better control ex: "Checker and Maker".</li>
            <li class="font-size">Multi Currency, settlement and month-end translation adjustment.</li>
            <li class="font-size"><span class="font"> Support: </span>  Our customers get support directly from our software engineers.</li>
        </ul>
    </div>
    <div class="col-md-1"></div>
    </div>
    
    </div>
    </div>
    
    <div class="container-fluid mt-4">
        <h1 class="text-center font">
            What our Customer
            ​says..</h1>
            <div class="container bg-light p-3">
                <h1 class="text-center "> " Before, we have used five software to record and report our finance, opertations and management data.  
                    ​</h1>
                    <h1 class="text-center ">​Now, with GetSet IBMS everything is well integrated, saved a lot of time and it gives one system of truth. </h1>
                    <h1 class="text-center text-primary" >​Finance Director - Tea Estate group </h1>
            </div>
    </div>
    
    
    <div class="container-fluid bg-secondary text-white slide margin-top p-5 mb-2">
        <h1 class="display text-center mb-5">​
            ​Book a completely free One-on-One demo</h1>
            <h1 class="text-center">
                Not sure if GetSet IBMS is what you're looking for?</h1>
                <h1 class="text-center">Let us run you through a live demo tailored to your use case.</h1>
                <h1 class="text-center">​Just pick the time that will be most convenient to you..​</h1>
        
                <div class="text-center mt-2">
                    <button mat-raised-button class="pt-1 "> <h1> YES , SHOW ME HOW GETSET IBMS WORKS</h1></button>
                </div>
        </div>
    
        <div class="bg-dark text-white text-center pt-2 pb-2">
            CRN : ​U72200TG2005PTC047153 - GSTIN : ​36ACCG4547K2ZD - ​Privacy Policy - Copyright © 2006-20
        </div>