.margin-top{
    margin-top: 60px;
}
.display{
    font-size:50px;
   
}
.font{
    font-weight: bold;
}
.font-size{
    font-size: 18px;
    line-height-step: 10px;
    line-height: 28px;
    
}
.slie,.heading{
    color: black;
    text-shadow: 2px 2px 4px #000000;
}