<div class="container-fluid pt-0 mt-0" style="background-color: #FF333C;">
    <hr class="mt-1 pt-4"/>
    <hr class="mt-5 "/>
    <hr class="mt-5"/>
    <hr class="mt-5"/>
   
<h1 class="text-white text-center font mt-5 "> on your marks //</h1>

<hr class="mt-5 "/>
<hr class="mt-5"/>
<hr class="mt-5"/>
<hr class="mt-5"/>


</div>

<div class="container bold mt-5">
    <button class="btn btn-pill btn-primary">Like</button><button class="btn btn-primary ml-3 btn-pill">Tweet</button>
    <h1>
        FINANCIAL TRANSPARENCY AND SPOONMAN</h1>
<div>
    <span class="font-size">12/3/2019</span>
    <span class="text-secondary font-size border ml-5"> 0 Commonents</span>
</div>

<p class="font-size mt-5">See how financial transparency inspires front-line team members to improve processes and reduce costs.</p>
<p class="font-size mt-2">Take action today to make a change in your Enterprise.</p>
<div class="mt-5">
    <button class="btn btn-pill btn-primary">Like</button><button class="btn btn-primary ml-3 btn-pill">Tweet</button>
   
</div>
<h1 class="container bold mt-1 ">A BETTER KIND OF BUSY</h1>
<div>
    <span class="font-size">8/31/2018</span>
    <span class="text-secondary font-size border ml-5"> 0 Commonents</span>
</div>
<div class="text-center">
<img class="text-center" src="https://www.getsetsol.com/uploads/1/8/9/4/18948437/a-better-kind-of-busy_orig.png" alt="">

</div>
<div class="mt-5">
    <button class="btn btn-pill btn-primary">Like</button><button class="btn btn-primary ml-3 btn-pill">Tweet</button>
   
</div>
<h1 class="container bold mt-1">DO I NEED TO BUY PAYROLL SOFTWARE NOW?
</h1>
<div>
    <span class="font-size">7/17/2018</span>
    <span class="text-secondary font-size border ml-5"> 0 Commonents</span>
</div>
<p class="font-size mt-4">Many organizations believe that effectiveness of their current payroll practices could be considered as good. In reality, mismanagement, miscommunication, confusion, fraud and losses are common concerns of payroll processes in all sorts of organisations. </p>
<p class="font-size mt-3">If you say “yes” to any of these below questions then you may consider to buy Payroll software or service from the right payroll provider.</p>

<button mat-raised-button class="mt-5">  READ MORE</button>
<div class="mt-5">
    <button class="btn btn-pill btn-primary">Like</button><button class="btn btn-primary ml-3 btn-pill">Tweet</button>
   
</div>
<h1 class="container bold mt-1">THREE WAYS TO COOL THE CONFLICT
</h1>
<div>
    <span class="font-size">12/15/2017</span>
    <span class="text-secondary font-size border ml-5"> 0 Commonents</span>
</div>
<p class="mt-5 font-size">When disagreements turn personal, leaders can't stay silent. Daniel Goleman suggests management strategies to move the team forward:</p>
<ol class="mt-2">
    <li class="font-size">Manage Self</li>
    <li class="font-size">Manage Conversations</li>
    <li class="font-size">Manage Relationships</li>
</ol>
<p class="mt-3 font-size">Click <a href=""> here</a> to read more.</p> 
<div class="mt-5">
    <button class="btn btn-pill btn-primary">Like</button><button class="btn btn-primary ml-3 btn-pill">Tweet</button>
   
</div>
<h1 class="container bold mt-1">POINT OF SALE SOFTWARE FOR A DEALER WHO SELLS PREPAID MOBILE VOUCHERS

</h1>
<div>
    <span class="font-size">3/24/2017</span>
    <span class="text-secondary font-size border ml-5"> 0 Commonents</span>
</div>


</div>
<div class="bg-dark text-white text-center pt-2 mt-3 pb-2">
    CRN : ​U72200TG2005PTC047153 - GSTIN : ​36ACCG4547K2ZD - ​Privacy Policy - Copyright © 2006-20
</div>

