#asd{
    padding-left:40px;
    color:white;
    }
    
    #abc{
    padding-left:20px;
    color:white;
    }
    
    #sai{
        padding-left:20px;
        color:white;
        }
    
        #sunny{
            padding-right:35px;
            color:white;
            }
            #sun{
                padding-right:40px;
                color:white;
                }
                #pan{
                    padding-right:40px;
                    color:white;
                    }
    
                    #rrr{
                        padding-right:40px;
                        color:white;
                        }
            
                    #aaa{
                        color:darkslategrey;
                      }
                      #profile{
                         padding-left:10px;
                         
                       }
                      #cog{
                         color:darkslategrey;
                         padding-left:5px;
                         padding-top:10px;
                       }      
                       .nani{
                        padding-right: 11px;
                      }
                      #ddd{
                        margin-top: 8px;
                      }
                      #profile{
                        margin-top: 16px;
                      }
                      #set{
                        margin-top: 17px;
                      }
                      #about{
                        margin-top: 7px;
                      }
                      #contact{
                        margin-top: 7px;
                      }
                      #back{
                        margin-top: 17px;
                      }
                      #out{
                        margin-top: 7px;
                      }
                       
                      
                     #user{
                           
                           color:darkslategrey;
                     }
                     .pos-f-t{
                         border-radius:40px;
                         border:solid darkslategray 2px;
                         border-radius:4px;
                         }
 
                         #quest{
                           padding-right:10px;
                           color:darkslategrey;
                         }
 
                         
 
                         #book{
                           padding-right:10px;
                           color:darkslategrey;
                         }
                         
                         #feed{
                           padding-right:10px;
                           color:darkslategrey;
                         }
                       
                       
                       
                       #log{
                         padding-right:10px;
                         color:darkslategrey;
                       
                       }
                       #fff{
                    
                        border:solid darkslategray 2px;
                        border-radius:4px;
                        padding:0px;
                        }

                        #ant{
                            background:linear-gradient(#00cccc,#3399cc 100%);
                          }
                          #top{
                            background:linear-gradient(#00cccc,#3399cc 100%);
                          }
                          #foll{
                            background:linear-gradient(#00cccc,#3399cc 100%);
                          }
                         #img2{
                            padding-left: 19px;
                         
                         }
                         #mini{
                            background:linear-gradient(#00cccc,#3399cc 100%);
                         }
                        
                        i:hover{
                         color: gold;
                         transition:  ease-out 1s;
                        
                         font-size: 4rem !important;
                        }
                        logo.hover{
                         color: gold;
                         transition: ease-in-out 1s;
                         font-size: 5rem !important;
                        }