<app-header>
<div>
  <div class=" pranay  mt-2">
    <h1>Dashbord</h1>
 <div class="d-flex align-items-center">
    <div>
      <div class="mt-5 ">
        <img src="../../assets/img.jpeg" alt="logo" style="width: 100px;
            height: 100px;
            border-radius: 37px;">
        </div>
        <div id=""class="mt-3 text-center">
      <img src="../../assets/5.png" alt="logo" style="width: 50px;
            height: 50px;
            border-radius: 7px;">
            
      </div>
    </div>
  
     <div class="pra1 ml-3 mt-4">
     <div class=" text-white mt-3" style="background:linear-gradient(#020024,#232987);border-radius:40px;
     border:solid goldenrod 2px;
     border-radius:4px;
     width: 65vh !important
     "><h1>Username</h1>
     
   </div>
     
     <div id="img1"class="d-flex text-white text-center mt-3"style="background:linear-gradient(#020024,#232987);border-radius:4px;
     border:solid goldenrod 2px; width: 65vh !important">
   <img src="../../../../assets/sai.jpeg" alt="logo" style="width: 30px;
         height: 30px;
         border-radius: 27px;">
         <h1>10,000</h1>
   </div>
 
  <div id="img2"class="d-flex text-white text-center mt-3"style="background:linear-gradient(#020024,#232987);border-radius:4px;
     border:solid goldenrod 2px; width: 65vh !important">
   <img src="../../assets/1.svg" alt="logo" style="width: 30px;
         height: 30px;
         border-radius: 27px;">
         <h1>4/5</h1>
   </div>
 </div>
     
 </div>


 <div id="mini"class="text-white w-75 " style="margin-left: 6rem;">
 <div class="mt-5 w-100  d-flex pt-3 justify-content-around">
     <div>
      <p> <i class="fa fa-users fa-3x"></i> </p>
      <h3 class="text-center">11</h3>
      <h3 class="text-center mt-2">Followers</h3>
     </div>
     <div>
      <i class="fa fa-user-plus fa-3x"></i>  
      <h3 class="text-center mt-2">56</h3>
      <h3 class="text-center mt-2">following</h3>
     </div>
     <div>
      <i class="fa fa-thumbs-up fa-3x"></i>  
      <h3 class="text-center mt-2">66</h3>
      <h3 class="text-center mt-2">Likes</h3>
    </div>
    <div>
      <i class="fa fa-thumbs-down fa-3x"></i>  
      <h3 class="text-center mt-2">4</h3>
      <h3 class="text-center mt-2">Dislike</h3>
    </div>
     
     
  
     </div>
     <div class="mt-2 d-flex justify-content-around">
         
         
         
         
     </div>
 
   </div>
   <div class="mt-3 row ">
    <button class="col-md-2 offset-md-3 btn btn-success">Share</button>
  </div>
  </div>

</div> 

</app-header>