


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.mat-header-row{height:0px;}
.card-body{padding:0px;}
.card-header{height:52px; border-bottom:0px}
.ht-337{height:337px}
.o-f-a{overflow:auto}
// .main{
//   overflow: scroll;
// }