.title{
  font-size: 18px;
  font-weight: 700;
}

                         #mini{
                            background:linear-gradient(#00cccc,#3399cc 100%);
                            color:#ffffff;
                            border-radius: 10px;
                         }
                        
                        i:hover{
                         color: gold;}
                        logo.hover{
                         color: gold;
                         
                         font-size: 5rem !important;
                        }
                        .content-box{
                        padding:20px;
                        box-shadow: 2px 4px 13px gray;
                        border-radius: 8px;
                        }
                        .body-icon{
                          border: 2px solid #004444;
                          border-radius: 5px;
                        }
                        .icon-wrap >h4{
                          font-weight: 700;
                          padding:0px 0px 0px 0px;
                        }
                        .icon-title{
                          font-weight: 600;
                          font-size: 16px;
                        }
.mat-card{padding:8px; border-radius:0px; box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);}
.mat-card-title {font-size: 18px; color:#f7981c;}
.mat-primary{background:#2ca0f7}
h4{font-size:14px; font-weight:500; line-height:20px;}
.mat-card-title h4{color:#383838; font-size:18px}
.won{background:#efefef; padding:5px; border:1px solid #ccc; height:32px; font-size:15px; font-weight:500; width:200px}
.won-txt{background:#fff;  border:1px solid #ccc; padding:5px; font-size:15px; font-weight:500;}