<app-header>
    <div class="h-60">
        <div class="d-flex row h-60 justify-content-center align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4 mt-4">
                <div class="card">
                    <div class="card-header mb-3">Scratch for Coins</div>
                    <div class="card-body">
                        <!-- <div id="triangle-down"><img src="../../assets/spin-arrow.png" /></div>
                        <div class="text-center"><img  [@rotatedState]='state'  src="../../assets/spin2.png" style="width:370px"  class="img-fluid" /></div>
                        <div class="text-center mt-3"><button class="btn btn-primary" (click)="rotate()">Spin</button></div>
                        <div class="wish" *ngIf="spinpanel">
                        <div class="coins-panel text-center mt-3">Congratulations</div>
                        <div class="text-center mt-1"><h4>You have earned 50 coins</h4></div>
                        </div> -->
                        <scratch></scratch>

                    </div>
                </div>
            </div>
        </div>
    </div>        
</app-header>
