.mat-card{padding:8px; border-radius:0px; box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);}
.mat-card-title {font-size: 18px; color:#f7981c;}
.mat-primary{background:#2ca0f7}
.ad-content{background:#e5e5e5; height:140px; padding:10px}