/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fonts{
    font-family: italic;
    font-weight: bold;
}

.fonts:hover{
    opacity: 0.5;
}
.fonts:active{
    opacity: 0.7;
}