<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
  
    <div class="main hover">



<div class="container-fluid  pt-5 img">
    <div class="text-center  pt-5 text-white  slide "><button class="btn btn-light  p-3 display-1"><h1 class="slie"> MEGAROY SOLUTIONS</h1></button></div>
   <div class="container text-white text-center">
    <h2 class="p-4 text"> Our professional team works to increase productuvity & cost effectiveness on the market.</h2>
   </div>
  </div> 

  <div class="container">
    <h1 class="text-center heading mt-3 mb-5 text">OUR SERVICES</h1>

    <div class="card-deck ">
      <div class="card card1 pb-5 cardslide1 border-0" (click)="telcome()">
     <h2 class="text-center pt-5 mt-5 text"></h2>
    <div class="text-center mt-5 "> 
    </div> </div>

      <div class="card card2 border-0 cardslide1" (click)="digital()">
        <h2 class="text-center pt-5 mt-5 text"></h2>
        <div class="text-center mt-5">
        </div> </div>
        <div class="card card6 border-0 cardslide1" (click)="project()">
          <h2 class="text-center pt-5 mt-5 text font"></h2>
          <div class="text-center mt-5"> 
          </div> </div>  </div>


        <div class="card-deck mt-5 pt-3">
          <div class="card card4 pb-5 cardslide1 border-0" (click)="qa()">
         <h2 class="text-center pt-5 mt-5 text"></h2>
        <div class="text-center mt-5 "> 
        </div> </div>
    
          <div class="card card5 cardslide1 border-0" (click)="it()">
            <h2 class="text-center pt-5 mt-5 text"></h2>
            <div class="text-center mt-2"> 
            </div> </div>
            <div class="card card3 border-0 cardslide1" (click)="digitalmarketing()">
              <h2 class="text-center pt-5 mt-5 text"></h2>
              <div class="text-center mt-2"> 
              </div> </div> 

          </div>
  </div>

  <hr class="bg-dark">
     <div class=" card-deck bg-light p-0 m-0">
      <div class=" card border-0 bg-light text-secondary">
        <div> <h4 class="mb-3 text-danger color"> QUICK LINKS </h4></div>
        <div class="mb-3 text-secondary">    <a class="text-secondary dropdown-item" (click)="home()">
          <h5 class="text font">HOME</h5></a></div>
          <div class="mb-3 text-secondary">   <a (click)="about()" class="text-secondary dropdown-item"><h5 class="text font">

          ABOUT US</h5></a></div>
        <div class="mb-3 text-secondary"> <a (click)="careers()"  class="text-secondary dropdown-item">
          <h5 class="text font">CAREERS</h5></a>
        
          </div>
        <div class="mb-3 text-secondary">         <a (click)="contact()"class="text-secondary dropdown-item" >
          <h5 class="text font">CONTACT</h5></a></div>
   
    
</div>

         <div class=" card border-0 bg-light text-secondary">
            <div class="color"> <h3 class="mb-3 ml-5  text-center text-danger color">Services</h3></div>
            <div class="mb-3 text-secondary">     <a (click)="telcome()" class="dropdown-item">
              <h5 class="text font"> Enterprise Application</h5></a></div>
              <div class="mb-3 text-secondary">     <a (click)="digital()" class="dropdown-item">
                <h5 class="text font">   Digital Transformation</h5></a></div>
                <div class="mb-3 text-secondary">     <a  (click)="digitalmarketing()" class="dropdown-item">
                  <h5 class="text font">   Digital Marketing Solutions</h5></a></div>
                  <div class="mb-3 text-secondary">    <a (click)="qa()" class="dropdown-item">
                    <h5 class="text font">    QA & Testing</h5></a></div>
        </div>
   
    
    
  
    <div class=" card border-0 bg-light text-secondary">
         
            <div class="mb-3 text-secondary mt-5">    <a (click)="project()" class="dropdown-item">
              <h5 class="text font">     Project Management</h5></a></div>
                       
              <div class="mb-3 text-secondary">   <a (click)="data()" class="dropdown-item">
                <h5 class="text font">      Data Management & Integration</h5></a></div>
                <div class="mb-3 text-secondary">  <a (click)="it()" class="dropdown-item">
                  <h5 class="text font">      IT Staffing and Consulting Services</h5></a></div>
                <div class="mb-3 text-secondary">   <a (click)="maintenance()" class="dropdown-item">
                  <h5 class="text font">     Maintenances & Support</h5></a></div>
    </div>

</div>


<div class="bg-dark pl-4 p-2">
  <h5 class="text-white"> @Megaroy Solutions</h5>
</div>


</div>
</body>
</html>