<app-header>
  <div class="h-60">
    <div class="d-flex row h-60 justify-content-center align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4 mt-4">
            <div class="card">
                <div class="card-header">Settings</div>
                  <div class="card-body">

                    <div class="d-flex justify-content-between align-items-center settings-panel">
                      Audio
                      <!-- Default switch -->
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitches1">
                        <label class="custom-control-label" for="customSwitches1"></label>
                      </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center settings-panel mt-1">
                      Video
                      <!-- Default switch -->
                      <div class="custom-control custom-switch ">
                        <input type="checkbox" class="custom-control-input" id="customSwitches2">
                        <label class="custom-control-label" for="customSwitches2"></label>
                      </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center settings-panel mt-1">
                      Notifications
                      <!-- Default switch -->
                      <div class=" custom-control custom-switch ">
                        <input type="checkbox" class="custom-control-input" id="customSwitches3">
                        <label class="custom-control-label" for="customSwitches3"></label>
                      </div>
                    </div>

                     <div class="d-flex justify-content-between align-items-center settings-panel mt-1">
                      Chat messages
                      <!-- Default switch -->
                      <div class="custom-control custom-switch ">
                        <input type="checkbox" class="custom-control-input" id="customSwitches4">
                        <label class="custom-control-label" for="customSwitches4"></label>
                      </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center settings-panel mt-1">
                      Delete account
                      <!-- Default switch -->
                      <div>
                        <i class="nani  fa fa-trash-o"style="#00ffff; font-size:20px;"></i>
                      </div>
                    </div>

                  </div>
              </div>
         </div>
     </div> 
   </div>        
</app-header>