#clock{
    margin-left:655px;
 
}
.fas{
    color:white;
}
.contest{
    background-color:lightgrey;
    border-radius: 10px ;
}
.far{
    color:black;
}
.title{
    font-weight: 700;
}
.content-wrap{
    margin-top:25px;
    border-radius: 5px;
    box-shadow: 2px 3px 13px;
}
#center{
    margin-left: 104px
}