.mat-card{padding:8px; border-radius:0px; box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);}
.mat-card-title {font-size: 18px; color:#f7981c;}
.mat-primary{background:#2ca0f7}
h4{font-size:14px; font-weight:500; line-height:20px;}
.mat-card-title h4{color:#383838; font-size:18px}