<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid  pt-5 img">
        <div class="text-center  pt-5 text-white  slide "><button class="btn btn-light  p-3 display-1"><h1 class="slie">ABOUT-US MEGAROY SOLUTIONS</h1></button></div>
       
      </div> 
      <div class="container">
          <div class="card-deck">
              <div class="card card1 border-0">
                <img class="" src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
              <p class="text">  Megaroy Solutions is the leading IT development and Technology consulting partner and specialized in developing business-centric customized applications to meet the real world business needs. Over 8+ years experience of the full-stack developers team in various fields, we are expanding our service landscape into various verticals of the industry.
              </p>  </div>

              <div class="card card2 border-0">
                <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
               <p class="text"> Megaroy Solutions has the proven domain expertise in customized application development with fast time to market for the effective business process. We are experts at Web/Mobile applications development, Enterprise applications, Digital Marketing, QA & Testing, IT Staffing, and Software Maintenance solutions.
              </p> </div>

              <div class="card card3 border-0">
             <img src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
               <p class="text"> Megaroy Solutions magnifying it’s footprints into Business Intelligence, Data Management, and IoT applications development for hassle less industrial automation. Being a growing IT software development company and service provider, We have a long-term strategic approach by providing high-quality solutions
              </p> </div>
          </div>
      </div>
      <!-- <div class="container mt-5">
         
              <li class="text-center text"> We analyze the scale of our clients and suggest the best unique solution prepositions.</li>

                <li class="text-center text"> We promise & deliver the quality of service round the clock.</li>
                
                    <li class="text-center text"> Our cost-effective software development services will never miss project deadlines.</li>
         
      </div> -->

      <!-- <div class="container-fluid">
        <div class="container">
          <h1 class="text-center heading mt-3">Our Vision</h1>
          <p class="text-center mt-1 text">The preferred global IT leader, excelling in the delivery of innovative services & solutions.</p>
        
        <h1 class="text-center heading mt-3">Our Mission</h1>
        <p class="ml-5 mt-1 text-center text">
         
            Achieve and maintain high level of customer satisfaction.</p>

            <p class="text-center text"> Deliver innovative technologies and solutions to fulfill the need of our customers.</p>

  <p class="text-center text">Provide safe, fun filled, challenging, and rewarding work environment to our employees.
  </p>
       
        </div>
      </div> -->

      <hr class="bg-dark">
      <div class=" card-deck bg-light p-0 m-0">
       <div class=" card border-0 bg-light text-secondary">
         <div> <h4 class="mb-3 text-danger color"> QUICK LINKS </h4></div>
         <div class="mb-3 text-secondary">    <a class="text-secondary dropdown-item" (click)="home()">
           <h5 class="text font">HOME</h5></a></div>
           <div class="mb-3 text-secondary">   <a (click)="about()" class="text-secondary dropdown-item"><h5 class="text font">
 
           ABOUT US</h5></a></div>
         <div class="mb-3 text-secondary"> <a (click)="careers()"  class="text-secondary dropdown-item">
           <h5 class="text font">CAREERS</h5></a>
         
           </div>
         <div class="mb-3 text-secondary">         <a (click)="contact()"class="text-secondary dropdown-item" >
           <h5 class="text font">CONTACT</h5></a></div>
    
     
 </div>
 
          <div class=" card border-0 bg-light text-secondary">
             <div class="color"> <h3 class="mb-3 ml-5  text-center text-danger color">Services</h3></div>
             <div class="mb-3 text-secondary">     <a (click)="telcome()" class="dropdown-item">
               <h5 class="text font"> Enterprise Application</h5></a></div>
               <div class="mb-3 text-secondary">     <a (click)="digital()" class="dropdown-item">
                 <h5 class="text font">   Digital Transformation</h5></a></div>
                 <div class="mb-3 text-secondary">     <a  (click)="digitalmarketing()" class="dropdown-item">
                   <h5 class="text font">   Digital Marketing Solutions</h5></a></div>
                   <div class="mb-3 text-secondary">    <a (click)="qa()" class="dropdown-item">
                     <h5 class="text font">    QA & Testing</h5></a></div>
         </div>
    
     
     
   
     <div class=" card border-0 bg-light text-secondary">
          
             <div class="mb-3 text-secondary mt-5">    <a (click)="project()" class="dropdown-item">
               <h5 class="text font">     Project Management</h5></a></div>
                        
               <div class="mb-3 text-secondary">   <a (click)="data()" class="dropdown-item">
                 <h5 class="text font">      Data Management & Integration</h5></a></div>
                 <div class="mb-3 text-secondary">  <a (click)="it()" class="dropdown-item">
                   <h5 class="text font">      IT Staffing and Consulting Services</h5></a></div>
                 <div class="mb-3 text-secondary">   <a (click)="maintenance()" class="dropdown-item">
                   <h5 class="text font">     Maintenances & Support</h5></a></div>
     </div>
 
 </div>
 
 
 <div class="bg-dark pl-4 p-2">
   <h5 class="text-white"> @Megaroy Solutions</h5>
 </div>
 
 
 

</body>
</html>