<app-header>
    <div class="d-flex row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4 mt-4"></div>
    <div class="container-fluid d-flex">
        <div class="side-container">
          <div class="card">  
            <button class="btn btn-primary"><i class="fa fa-clock-o" aria-hidden="true"><p>00:00:00</p></i></button>
             </div>
            <div class="card">  
             <button class="btn btn-outline-light"><img class="card-img-top image" src="../../assets/red-buzzer1.png" alt="Card image cap"></button>
              </div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle dropdown-width" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Teams
                </button>
                <div class="dropdown-menu dropdown-width" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Team A</a><p class="left-padding">0000</p>
                  <a class="dropdown-item" href="#">Team B</a><p class="left-padding">0000</p>
                  <a class="dropdown-item" href="#">Team C</a><p class="left-padding">0000</p>
                  <a class="dropdown-item" href="#">Team D</a><p class="left-padding">0000</p>
                </div>
              </div>
                   
                  
        </div>
        <div class="whole-container right-padding">
            <div class="card-container card-top-mar">
            <div class="card-deck">
                <div class="card card-width">
                
                   <div class="row">
                    <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                   </div>   
                    <img class="img-fluid .card-image" src="../../assets/img.jpeg"><p class="player-txt">Player1</p>
                
                </div>
                <div class="card card-width">
                  
                      
                   <div class="row">
                    <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                   </div>   
                    <img class="img-fluid card-image" src="../../assets/img.jpeg"><p class="player-txt">Player2</p>
                  
                </div>
                <div class="card card-width">
                
                    <div class="row">
                        <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                       </div>   
                        <img class="img-fluid card-image" src="../../assets/img.jpeg"><p class="player-txt">Player3</p>
                
                </div>
                <div class="card card-width">
                    
                      <div class="row">
                          <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                         </div>   
                          <img class="img-fluid card-image" src="../../assets/img.jpeg"><p class="player-txt">Player4</p>
                    
                  </div>
                  
                  
              </div>
            </div>


            <div class="card-container card-top-mar">
                <div class="card-deck">
                    <div class="card card-width">
                      
                       <div class="row">
                        <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                       </div>   
                        <img class="img-fluid" src="../../assets/img.jpeg"><p class="player-txt">Player5</p>
                    
                    </div>
                    <div class="card card-width">
                    
                          
                       <div class="row">
                        <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                       </div>   
                        <img class="img-fluid" src="../../assets/img.jpeg"><p class="player-txt">Player6</p>
                      
                    </div>
                    <div class="card card-width">
                      
                        <div class="row">
                            <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                           </div>   
                            <img class="img-fluid" src="../../assets/img.jpeg"><p class="player-txt">Player7</p>
                      
                    </div>
                    <div class="card card-width">
                        
                          <div class="row">
                              <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                             </div>   
                             <div><img class="img-fluid" src="../../assets/img.jpeg"><p class="player-txt">Player8</p></div>
                        
                      </div>
                      
                      
                  </div>
                </div>

                
  
        </div>
        
        
        <!--<div class="row mx-auto">
           <div class="d-container">
            <div><a href="#"><i class="fa fa-microphone" aria-hidden="true"></i></a></div>
            <div><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i></a></div>
            <div><a href="#"><img class="img-fluid" src="../../assets/bell.png"></a></div>
            <div><a href="#"><i class="fa fa-commenting" aria-hidden="true"></i></a></div>
            <div><a href="#"><mat-icon aria-hidden="false" aria-label="icon">people_alt</mat-icon></a></div>
            <div><a href="#"<i class="fa fa-share-square" aria-hidden="true"></i></div>
           </div>
        </div>-->
    </div>
    
    <div class="row rowspin bg-dark">
      <div class="d-container d-flex">
      <div><a href="#"><i class="fa fa-microphone" aria-hidden="true"></i></a></div>
      <div><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i></a></div>
      <div><a href="#"><mat-icon aria-hidden="false" aria-label="icon">people_alt</mat-icon></a></div>
      <div><a href="#"><i class="fa fa-commenting" aria-hidden="true"></i></a></div>
      </div>
    </div>
    </div>
</app-header>
