<app-header>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="content-wrap text-center col-md-8 p-5 ">
            <div class="d-flex clock">
                <i id="clock" class="far fa-clock fa-2x"></i>&nbsp;&nbsp;
                <h1>00:00:00</h1>
            </div>
            <h1 class="title text-center">Matching Players</h1>
            
            <div id="center" class="row text-center">
                <div class="contest  p-3 mt-5 ml-4 ">
                    <div class=" title text-center mb-4 "><h2> Team A </h2></div>
                    <div class="d-flex justify-content-around mt-5 ">
                    <img src="../../assets/img.jpeg" alt=""class="m-2" style="width: 100px;height: 100px;">
                    <img src="../../assets/img.jpeg" alt=""class="m-2" style="width: 100px;height: 100px;">
                </div>
                </div>
                     <div class="title col-md-2 text-center " style="margin-top: 135px;"><h1>VS</h1> </div>
                    <div class="contest  p-3 mt-5 text-center">
                            <div class="title text-center mb-4"><h2> Team B </h2></div>
                            <div class="  d-flex justify-content-around mt-5 ">
                                <div>
                                    <img src="../../assets/img.jpeg" alt=""class="m-2" style="width: 100px;height: 100px;">
                                </div>
                                <div>
                                    <img src="../../assets/img.jpeg" alt=""class="m-2" style="width: 100px;height: 100px;">
                                </div>
                            </div>
                    </div>
            </div>
           
        
      
    

<a routerLink="/room"class="w-100"><h1 class="col-md-5 btn btn-primary mt-4 text-center text-white mt-5">JOIN</h1></a>
        </div>


<div class="col-md-2"></div>
    </div>

</app-header>

