<app-header>
<div class="h-60">
    <div class="d-flex row h-60 justify-content-center align-items-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12 mb-4 mt-4">
        <mat-card class="example-card">
            <mat-card-title class="text-center pt-1"><h4>Invite Friends</h4></mat-card-title>
            <div class="card-body bdr-top">
               <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="social-icons pr-5"><a class="bg-g" href="https://myaccount.google.com/"><i class="fa fa-google-plus-circle"></i></a></span>
                        <span class="social-icons pr-5"><a class="bg-f" href="https://www.facebook.com/"><i class="fa fa-facebook-official"></i></a></span>
                        <span class="social-icons pr-5"><a class="bg-t" href="https://www.twitter.com/"><i class="fa fa-twitter-square"></i></a></span>
                        <span class="social-icons bg-w pr-5"><a class="bg-w" href=""><i class="fa fa-whatsapp" ></i></a></span>
                        <span class="social-icons bg-y"><a class="bg-y" href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a></span>
                    </div>
               </div> 
            </div>
        </mat-card>
        </div>
    </div>
</div>
</app-header>
