.input{
    padding-right: 302px;
    color:gray;
    border-radius: 25px;
}
.correct{
    padding-left: 301px;
    margin-right: 41px;
    border-radius: 25px;
}
#fname{
    padding-top: 49px;
}
.card-footer{padding:0px; background:#fff}
.btn{padding:4px 6px 4px 6px; font-size:14px}