

<div class="container-fluid m-0 p-0">
    <div class="container-fluid m-0 p-0 d-flex justify-content-between align-items-center bg-dark p-2 pt-3">
    <div class="d-flex justify-content-around align-items-center">
        <i class="text-white ml-3"><img class="size text-white " src="assets\images\menu.png" alt=""></i>
        <i class="text-white ml-3"><img class="size text-white " src="assets\images\home.png" alt=""></i>
        <i class="text-white ml-3"><img class="size text-white " src="assets\images\dashboard.png" alt=""></i>

    </div>
    <div>
        <input type="text" name="" id="" style="border-radius: 3px;">
    </div>
    <div class="d-flex justify-content-around align-items-center">
        <i class="text-white ml-3"><img class="size text-white " src="assets\images\diamonds.png" alt=""></i>
        <h1 class="mt-2">25</h1>
        <i class="text-white ml-3"><img class="size text-white " src="assets\images\coin.png" alt=""></i>
        <h1 class="mt-2">5050</h1>
        <i class="text-white ml-3"><img class="size text-white " src="assets\images\bell.png" alt=""></i>
        <i class="text-white ml-3"><img class="size text-white " src="assets\images\friend-request.png" alt=""></i>
        <i class="text-white ml-3 mr-4"><img class="size text-white " src="assets\images\user-bg.png" alt=""></i>
    </div>

    </div>
    

     <div class="row p-0 m-0">
         <div class="col-md-2 p-4  pt-2 col-md-2side">
             <div class="mt-0 mb-0 p-0 text-center">
                <i class="text-white "><img class="size-b text-white " src="assets\images\user-bg.png" alt="">
               </i>
               <div class=" camera "> <img class="camera-img mr-5" src="assets\images\camera.png" alt=""></div>
         </div>
       <div class="text-center" style="margin-top: -30px;">
        <h1 class="text-center text-success m-0 p-0" style="text-shadow: 1px 1px  black;">User Name</h1>
        <h2 class="text-center m-0">Info : xxxxxxx</h2>
       
       <div class="text-center mt-2 ">
        <button class="btn btn-warning ml-4 text-center  pb-3 text-centerp-0 m-0 d-flex" style="width: 140px ; height: 35px;border-radius: 20px;">
            <h3 class="text-white text-center mb-4 ml-3">Follow</h3> 
        <img class="follow" src="assets\images\follow.png" alt=""></button></div>
       </div>
       <div class="text-center mt-2"><img class="icons" src="assets\images\user-bg.png" alt=""></div>
       <hr class="m-0 p-0"/>
       <div class="text-center mt-0"><img class="icons" src="assets\images\camera.png" alt=""></div>
       <hr class="m-0 p-0"/>
       <div class="text-center mt-0"><img class="icons" src="assets\images\crown.png" alt=""></div>
       <hr class="m-0 p-0"/>
       <div class="text-center mt-0"><img class="icons" src="assets\images\invite-frinds.png" alt=""></div>
       <hr class="m-0 p-0"/>
       <div class="text-center mt-0"><img class="icons" src="assets\images\advertise.png" alt=""></div>
       <hr class="m-0 p-0"/>
       <div class="text-center mt-0"><img class="icons" src="assets\images\spin.png" alt=""></div>
       <hr class="m-0 p-0"/>
       <div class="text-center mt-0"><img class="icons" src="assets\images\youtube.png" alt=""></div>
       <hr class="m-0 p-0"/>
       <div class="text-center mt-0"><img class="icons" src="assets\images\download.png" alt=""></div>
      
     </div>
     <div class="col-md-8 ">
         <div class="d-flex justify-content-around mt-3 align-items-center">
             <div class="play-box  ">
                <img class="img-position" src="assets\images\play-random.png" alt="">
                <button class="btn btn-position btn-primary"> Play-randomly</button>
             </div>
             <div class="play-box ">
                <img class="img-position" src="assets\images\compete-online.png" alt="">
                <button class="btn btn-position btn-primary"> Compete online</button>
             </div>
             <div class="play-box ">
                <img class="img-position" src="assets\images\compete-friends.png" alt="">
                <button class="btn btn-position btn-primary"> Compete friends</button>
             </div>
         </div>

         <div class="d-flex justify-content-around mt-5 align-items-center">
            <div class="play-box  ">
               <img class="img-position" src="assets\images\perform-online.png" alt="">
               <button class="btn btn-position btn-primary"> Perform online</button>
            </div>
            <div class="play-box ">
               <img class="img-position" src="assets\images\join-anthyakshari.png" alt="">
               <button class="btn btn-position btn-primary"> Join anthyakshari</button>
            </div>
            <div class="play-box">
               <img class="img-position" src="assets\images\others.png" alt="">
               <button class="btn btn-position btn-primary">Others</button>
            </div>
        </div>

     </div>
<div class="col-md-2 right-layout p-0  ">
<button class="btn btn-primary text-white btn-w">Live Peroformance</button>
</div>
</div>
