.size{
    width: 50px;
    height: 50px;
    color: white;
   
}
.size-b {
    width: 100px;
    height: 100px;
}
.camera{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: gray;
    position: relative;
    left: 108px;
    bottom: 50px;
    
}
.camera-img{
    color: white;
    width: 20px;
    height: 20px;
    position: relative;
  top: 3px;
  left: 5px;
}
.follow{
    width: 20px;
    height: 20px;
}
.icons{
    width: 40px;
    height: 40px;
}
.col-md-2side{
    border-right: 2px solid black;
    box-shadow: 1px 1px gray;
 
}
.play-box{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    background: linear-gradient(#33cccc,#6699cc);
    
}
.btn-position{
    width: 250px;
    border-radius: 10px;
    position: relative;
    bottom: 130px;
    background: linear-gradient(#ff00cc,#333399);
}
.img-position{
    position: relative;
    right: 20px;
    bottom: 40px;
}
.btn-w{
    width: 200px;
}
.right-layout {
    border-left: 2px solid black;
    box-shadow: 1px 1px gray;

}